<template>
  <svg :width="outerWidth" :height="outerHeight">
    <g :transform="`translate(${outerPadding},${outerPadding})`">
      <g :transform="`translate(${axisWidth}, 0)`">
        <g
          v-for      = "track in tracks"
          :key       = "track.eventType"
          :transform = "`translate(0,${track.yStart})`"
        >
          <GraphTrack v-bind="track"/>
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
  import measurementTypes from '../data/measurement-types';

  // Todo: implement watchers, etc. to work out what width we have available and adjust
  export default {
    props: {
      outerWidth         : { type: Number, default: 960 },
      outerPadding       : { type: Number, default: 16 },
      trackPadding       : { type: Number, default: 16 },
      trackHeight        : { type: Number, default: 160 },
      axisWidth          : { type: Number, default: 60 },
      axisHeight         : { type: Number, default: 60 },
      fermentorRunId     : { type: String, required: true },
      startTime          : { type: Number, required: true },
      endTime            : { type: Number, default: null },
      duration           : { type: Number, default: null },
      measurementsByType : { type: Object, default: () => ({}) },
    },
    computed: {
      scaleWidth: function () {
        return this.outerWidth - this.outerPadding * 2 - this.axisWidth
      },
      durationScaleEnd: function() {
        const factor = 2000;

        // At least 10 seconds; if greater, round up to the next 2s.
        return Math.max(
          Math.ceil(this.duration / factor) * factor,
          10
        );
      },
      xDomain: function() {
        return [ 0, this.durationScaleEnd ];
      },
      xRange: function() {
        return [ 0, this.scaleWidth ];
      },
      outerHeight: function () {
        const { tracks, axisHeight, outerPadding } = this;

        const tracksEndY = tracks[tracks.length - 1]?.yEnd;

        return tracksEndY + axisHeight + outerPadding;
      },
      tracks: function() {
        const {
          axisHeight,
          axisWidth,
          measurementsByType,
          trackHeight,
          trackPadding,
          xDomain,
          xRange
        } = this;

        let yOffset = 0;

        return measurementTypes.map(
          (measurementType, i) => {
            const eventType    = measurementType.eventType;
            const measurements = measurementsByType[measurementType.eventType];
            const yStart       = yOffset;
            const yEnd         = yOffset + trackHeight;
            const yDomain      = [ measurementType.minValue, measurementType.maxValue ]
            const yRange       = [ trackHeight, 0 ]
            const hasAxisX     = i + 1 === measurementTypes.length; // show x-axis only on the bottom graph

            yOffset += trackHeight + trackPadding;

            return {
              axisHeight,
              axisWidth,
              eventType,
              measurements,
              measurementType,
              hasAxisX,
              xRange,
              xDomain,
              yStart,
              yEnd,
              yDomain,
              yRange,
            }
          }
        )
      }
    },
  }
</script>
