<template>
  <div class="fermentor">
    <h2>
      Fermentor {{ fermentorId }}
      <i v-if="liveRun">(running)</i>
    </h2>
    <p v-if="$fetchState.pending">Loading....</p>
    <p v-else-if="$fetchState.error">Error while fetching fermentor events</p>
    <div v-else>
      <div v-if="fermentorRuns.length">
        <label>Select fermentor run:</label>
        <select v-model="selectedRunId">
          <option
            v-for  = "fermentorRun in fermentorRuns"
            :key   = "fermentorRun.fermentorRunId"
            :value = "fermentorRun.fermentorRunId"
          >
            Run started at {{ displayDate(fermentorRun.startTime) }}
            ({{ fermentorRun.endTime ? displayDuration(fermentorRun.duration) : 'running' }})
          </option>
        </select>
        <div v-if="selectedRun">
          <FermentorRun v-bind="selectedRun" />
        </div>
      </div>
      <div v-else>
        No runs recorded for this fermentor
      </div>
    </div>
  </div>
</template>

<script>
  import _                from 'lodash';
  import measurementTypes from '../data/measurement-types';

  export default {
    props: {
      fermentorId: { type: String, required: true }
    },
    data: () => ({
      fermentorEvents : [],
      selectedRunId   : null,
    }),
    fetchOnServer : false,
    fetchKey      : function() { return this.fermentorId },
    fetch         : async function () {
      const { fermentorId, $axios } = this;

      if (fermentorId) {
        const { data } = await $axios.get(`/data/fermentor/${fermentorId}`);

        this.$set(this, 'fermentorEvents', data);
      }
    },

    computed: {
      liveRun: function () {
        return this.fermentorRuns.find(
          run => !run.endTime
        );
      },

      selectedRun: function() {
        return this.fermentorRunsById[this.selectedRunId];
      },

      fermentorRuns: function () {
        return _.orderBy(Object.values(this.fermentorRunsById), ['startTime'], ['desc']);
      },

      fermentorEventsByRunId: function () {
        return _.groupBy(this.fermentorEvents, 'fermentation_run');
      },

      fermentorRunsById: function() {
        return _.mapValues(
          this.fermentorEventsByRunId,
          (fermentorRunEvents, fermentorRunId) => {
            // We are going to want earlier events first.
            // This sort might be redundant, but if so it is cheap and O(n).
            // Important to use _.sortBy here as JS sort is mutating and not stable.
            const sortedEvents = _.sortBy(fermentorRunEvents, 'timestamp');

            // It's possible that measurements are taken precisetly at start and end
            // therefore avoid assuming that StartRun and EndRun are not be the first and last event.
            const startTime = sortedEvents[0]?.timestamp; // should have no timestamp earlier than StartRun
            const endTime   = _.findLast(sortedEvents, e => e.event_type === 'EndRun')?.timestamp; // findLast because it's quicker to start from the end
            const duration  = sortedEvents[sortedEvents.length - 1].timestamp - startTime; // if running, this is runtime up to last measurement.

            // Create an object of the form { MeasureDO: [ ...events], ... }
            const measurementEventsByType = _.pick(
              _.groupBy(sortedEvents, 'event_type'),
              measurementTypes.map(measurementType => measurementType.eventType)
            );


            const measurementsByType = _.mapValues(
              measurementEventsByType,
              measurementEvents => measurementEvents.map(
                (measurementEvent) => ({
                  // Right now, assume event_properties 1 has exactly item always
                  // Todo: use measurementType.eventProperty to pick the one which has the measured value.
                  time  : measurementEvent.timestamp - startTime,
                  value : measurementEvent.event_properties?.[0]?.value,
                })
              )
            );

            return {
              fermentorRunId,
              startTime,
              endTime,
              duration,
              measurementsByType,
            };
          }
        )
      }
    },
    watch: {
      fermentorRuns: function ([ latestRun ]) {
        this.$set(this, 'selectedRunId', latestRun.fermentorRunId);
      }
    },
    methods: {
      displayDate: (timestamp) => {
        const date = new Date(timestamp);

        return date.toISOString();
      },
      displayDuration: (duration) => {
        return (duration / 1000) + 's';
      }
    }
  }
</script>

<style>
  .fermentor {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 0.5em solid #eee;
    border-bottom: 0.5em solid #eee;
  }

  .fermentor + .fermentor {
    margin-top: none;
    padding-top: none;
    border-top: none;
  }
</style>
