<template>
  <div class="fermentor-run">
    <h3>
      Run {{ fermentorRunId }}
      <i v-if="!endTime">(running)</i>
    </h3>
    <FermentorRunGraph v-bind="$props" />
    <div v-for="finalValue in finalValues" :key="finalValue.eventType">
      <template v-if="finalValue.value">
        {{ finalValue.eventShortLabel }} last measured at {{ finalValue.time/1000 }}s:
        {{ finalValue.value }}{{ finalValue.eventUnit || '' }}
      </template>
      <template v-else>
        {{ finalValue.eventShortLabel }} not yet measured in this run.
      </template>
    </div>
  </div>
</template>

<script>
  import measurementTypes from '../data/measurement-types';

  export default {
    props: {
      fermentorRunId     : { type: String, required: true },
      startTime          : { type: Number, required: true },
      endTime            : { type: Number, default: null },
      duration           : { type: Number, default: null },
      measurementsByType : { type: Object, default: () => ({}) },
    },
    computed: {
      finalValues: function() {
        const { measurementsByType } = this;

        return measurementTypes.map(
            (measurementType) => {
            const measurements    = measurementsByType[measurementType.eventType]
            const lastMeasurement = measurements[measurements.length - 1];

            return {
              ...measurementType,
              ...lastMeasurement,
            }
          }
        );
      },
    },
  }
</script>