<template>
  <g>
    <rect
      :width  = "xRange[1]"
      :height = "yRange[0]"
      fill    = "#fafafa"
    />
    <g ref="xAxis" :transform="`translate(0,${yRange[0]})`"></g>
    <g v-if="hasAxisX" :transform="`translate(${xRange[1] / 2}, ${yRange[0] + axisHeight - axisLabelPadding})`">
      <text text-anchor="middle">Time (s)</text>
    </g>
    <g ref="yAxis"></g>
    <g v-if="hasAxisY" :transform="`translate(${axisLabelPadding - axisWidth}, ${yRange[0]/2})`">
      <g transform="rotate(270)">
        <text text-anchor="middle">
          {{ measurementType.eventShortLabel }}
          {{ measurementType.eventUnit ? `(${measurementType.eventUnit})`: '' }}
        </text>
      </g>
    </g>

    <g ref="yGrid">
      <line v-for="(yGridLine, i) in yGridLines" :key="i" :y1="yGridLine.y" :y2="yGridLine.y" :x2="xRange[1]" class="grid-line" />
    </g>

    <path
      class = "plot-line"
      :d    = "path"
    />
    <g>
      <g
        v-for      = "(point, i) in points"
        :key       = "i"
        :transform = "`translate(${point.x},${point.y})`"
      >
        <circle r="2" class="plot-point"/>
      </g>
    </g>
  </g>
</template>

<script>
  import { axisBottom, axisLeft } from 'd3-axis';
  import { scaleLinear }          from 'd3-scale';
  import { select }               from 'd3-selection';
  import { line }                 from 'd3-shape';
  import { timeFormat }           from 'd3-time-format';

  // Todo: implement watchers, etc. to work out what width we have available and adjust
  export default {
    props: {
      axisHeight       : { type: Number, default: 40 },
      axisWidth        : { type: Number, default: 40 },
      axisLabelPadding : { type: Number, default: 12 },
      hasAxisX         : { type: Boolean, default: false },
      hasAxisY         : { type: Boolean, default: true },
      xDomain          : { type: Array, required: true },
      xRange           : { type: Array, required: true },
      yDomain          : { type: Array, required: true },
      yRange           : { type: Array, required: true },
      yStart           : { type: Number, default: 0 },
      yEnd             : { type: Number, default: 0 },
      measurementType  : { type: Object, required: true },
      measurements     : { type: Array, default: () => ([]) },
    },
    computed: {
      xScale: function() {
        return scaleLinear().domain(this.xDomain).range(this.xRange);
      },
      yScale: function() {
        return scaleLinear().domain(this.yDomain).range(this.yRange);
      },
      yGridLines: function () {
        const { measurementType, yDomain, yScale } = this;

        return [
          yDomain[0],
          ...(measurementType.lineValues || []),
          yDomain[1],
        ].map(value => ({ value, y: yScale(value) }));
      },
      points: function() {
        const { xScale, yScale, measurements } = this;

        return measurements.map(
          m => ({
            ...m,
            x: xScale(m.time),
            y: yScale(m.value),
          })
        )
      },
      path: function() {
        return line()(this.points.map(({ x, y }) => [ x, y ]));
      }
    },
    mounted: function() {
      // Todo: make these reactive with watchers on x/yScale and x/yDomain

      if (this.hasAxisY) {
        this.$nextTick(() => this.applyAxisY());
      }

      if (this.hasAxisX) {
        this.$nextTick(() => this.applyAxisX());
      }
    },
    methods: {
      applyAxisY: function() {
        if (this.$refs.yAxis) {
          select(this.$refs.yAxis).call(
            axisLeft(this.yScale)
          );
        }
      },
      applyAxisX: function() {
        if (this.$refs.xAxis) {
          // Todo: make this reactive with watchers on yScale and yDomain
          select(this.$refs.xAxis).call(
            axisBottom(this.xScale).tickFormat(timeFormat("%M:%S"))
          );
        }
      },
    }
  }
</script>

<style>
  .grid-line { stroke: #ccc; stroke-width: 0.5px; }
  .plot-line { fill: none; stroke: #888; stroke-width: 1px; }
  .plot-point { fill: #333; }
</style>
