<template>
  <div class="container">
    <h1>Fermentors</h1>

    <div v-if="!fermentorIds.length">
      <p>
        No fermentors found.
      </p>
    </div>
    <div>
      <FermentorPanel
        v-for         = "fermentorId in fermentorIds"
        :key          = "fermentorId"
        :fermentor-id = "fermentorId"
      />
    </div>
  </div>
</template>

<script>
  import fermentorIds from '../data/fermentors.json';

  export default {
    name     : 'IndexPage',
    computed : {
      fermentorIds: () => fermentorIds,
    }
  }
</script>

<style>
  /*
    Ordinarily, we'd be be doing layouts, organised css files, picking a framework.
    For this exercise, we don't need much, but a sans-serif stack is important for displaying data.
  */
  html, input, select, option {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  }

  .container {
    max-width: 1170px;
    margin: auto;
  }
</style>
